.bgimg{
background-image: url("bg.jpg")
}
.navbar1{
width:50%;
height :100px;
float:left;
background:#fff;

}

.navtitle{
text-decoration:none;
color:violet;
font-size:50px;
font-weight:bold;
margin-top:30px;

}
.navbar2{
width:50%;
height :100px;
float:left;
background:#fff;

}

.homelink{
text-decoration:none;
color:velvet;
font-size:30px;
font-weight:bold;
margin-top:30px;
}
.homelink:hover{
color:violet;
}
.navlink:hover{
color:violet;
}
.navlink{
text-decoration:none;
color:velvet;
font-size:30px;
font-weight:bold;
margin-top:30px;
margin-left:40px;

}
.wallpaper
{
height:400px;
width:100%;
}
.divbtn{
height:200px;
width:100%;

}
.titlebtnfirst{
height:150px;
width:150px;
background:none;
margin-left:200px;
border-color:#fff;
}
.titlebtn{
height:150px;
width:150px;
background:none;
margin-left:30px;
margin-top:20px;
border-color:#fff;
}
.titlebtn:hover{
border-color:violet;
}
.titlebtnfirst:hover{
border-color:violet;
}
.title{
color:#fff;
font-size:50px;
font-weight:bold;

padding-top:100px;
text-align:center
}
.titledescription{
color:#fff;
font-size:20px;
font-weight:bold;
text-align:center

}
.about{
height:100px;
width:100%;
background:violet;
float:left;
margin-bottom:20px
}
.abouttitle{
text-align:center;
color:white
}
.rabout{
float:left;
height:450px;
width:50%;
background:white;
font-size:20px;
font-weight:bold;	}

.labout{
float:right;
height:450px;
width:50%;
background:white;
text-align:center
}
.blue{
color:violet}
.divbtn2{
height:100px;
width:100px

}
.service{
height:800px;
width:100%;
text-align:center;
}
.divbtn2{
height:400px;
width:400px;
}
.contact{
text-align:center;
height:auto;
width:100%;
}
.textbox{
height:40px;
width:500px;
font-weight:bold;
text-align:center;
}

.msgbox{
text-align:center;
font-weight:bold;
height:100px;
width:500px;
}
.sbt{
background:violet;
border:none;
height:30px;
width:100px;
font-weight:bold;
}
.blog1{
height:300px;
width:100%;
font-weight:bold;

}

.blog2{
height:300px;
width:100%;
font-weight:bold;

}

.blog3{
height:300px;
width:100%;
font-weight:bold;

}
.blogdiv{
float:left;
}
